@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rosa-suave: #F7CAC9;
  --cinza-claro: #F5F5F5;
  --cinza-medio: #6E6E6E;
  --rosa-escuro: #D2386C;
  --dourado-suave: #F4D03F;
  --preto-suave: #333333;
  --branco: #FFFFFF;
  --font-base: open-sans;
  --font-rosa-title: #C50E4C;
  --font-rosa-paragraph: #BD0040;
  --color-primary: #D2386C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--preto-suave);
  background: var(--cinza-claro);
  overflow-x: hidden;
}
